<nav class='w-full h-[10vh] py-4 border-b border-[#FF4398]'>
    <ul class='flex justify-between px-4'>
        <li style="color: <%= current_page?(products_path) ? '#FF4398' : '' %>; border-bottom: <%= current_page?(products_path) ? '1px solid #FF4398' : 'none' %>;" class='text-black font-semibold cursor-pointer transition duration-500 hover:border-b border-[#FF4398] hover:text-[#FF4398]'>
            <%= link_to "Produtos", products_path %>
        </li>
        <li style="color: <%= current_page?(new_investment_path) || current_page?(investments_path) ? '#FF4398' : '' %>; border-bottom: <%= current_page?(new_investment_path) || current_page?(investments_path) ? '1px solid #FF4398' : 'none' %>;" class='text-black font-semibold cursor-pointer transition duration-500 hover:border-b border-[#FF4398] hover:text-[#FF4398]'>
            <%= link_to "Investimentos", investments_path %>
        </li>
        <li style="color: <%= current_page?(new_transfer_path) ? '#FF4398' : '' %>; border-bottom: <%= current_page?(new_transfer_path) ? '1px solid #FF4398' : 'none' %>;" class='text-black font-semibold cursor-pointer transition duration-500 hover:border-b border-[#FF4398] hover:text-[#FF4398]'>
            <%= link_to "Transferência", new_transfer_path %>
        </li>
        <li class='text-black font-semibold cursor-pointer transition duration-500 <%= current_page?(user_extract_path(user_id: current_user.id)) ? "hover:border-b border-[#FF4398] hover:text-[#FF4398]" : "" %>'>
        <%= link_to 'Extrato', user_extract_path(user_id: current_user.id), class: 'hover:no-underline', style: "color: #{current_page?(user_extract_path(user_id: current_user.id)) ? '#FF4398' : ''}; border-bottom: #{current_page?(user_extract_path(user_id: current_user.id)) ? '1px solid #FF4398' : 'none'};" %>
        </li>
        <% if current_user.administrator? %>
            <li class='text-black font-semibold cursor-pointer transition duration-500 hover:border-b border-[#FF4398] hover:text-[#FF4398]'>
                <%= link_to 'Painel', admin_dashboard_path, class: 'hover:no-underline' %>
            </li>
        <% end %>
    </ul>
</nav>
